// Color pallet
$primary: #283593;
$primary-light: #5f5fc4;
$secondary: #80deea;
$secondary-light: #b4ffff;
$table-striped-bg: rgba($secondary, 0.7); // Change stripped table background color

@import "../node_modules/bootstrap/scss/bootstrap";

body {
	@extend .text-dark;
}

// Navbar
.navbar {
	padding-left: 10%;
	padding-right: 10%;
}

.navbar .navbar-nav {
	margin-left: auto;
}

.nav-logo {
	@extend .px-2;
}

.nav-link-custom {
	@extend .nav-link;
	@extend .px-4;
}

.navbar-dark .navbar-nav a.nav-link-custom {
	@extend .text-light;
	font-size: medium;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav a.nav-link-custom:hover {
	font-size: medium;
	font-weight: bold;
	text-transform: uppercase;
	background: $primary-light;
}

// Banner
.banner {
	margin-top: 75px;
}

.banner img {
	width: 100%;
}

// Main Sections
.main-content {
	@extend .my-5;
	@extend .p-4;
	scroll-margin-top: 100px; // Scroll 100px above link to account for navbar height
}

.sub-content {
	@extend .py-4
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	@extend .mb-5;
	border-bottom-style: solid;
	border-bottom-style: medium;
	border-bottom-color: $secondary;
}

h2, h3, h4, h5, h6 {
	@extend .mb-4;
}

h6 {
	color: gray;
}

#welcome .grid-item {
	text-align: justify;
}

#welcome img {
	width: 100%;
	border-radius: 15px;
}

.btn-register {
	@extend .btn;
	@extend .text-light;
	border-radius: 5px;
	font-weight: bold;
}

.btn-register:hover {
	@extend .btn-register;
	opacity: 80%;
}

#csd-photo {
	height: 80%;
	object-fit: cover;
}

.company-logos-container {
	@extend .mt-5;
	text-align: center;
	//color: darkgrey;
}

.company-logo {
	@extend .py-4;
	width: 100%;
	height: auto;
	max-width: 150px;
	overflow: hidden;
	//max-height: 150px;
}

.company-logo-col {
	@extend .col;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
}

// Grid
.grid-item {
	@extend .col-sm;
	@extend .p-4;
	text-align: center;
}

.companies {
	//@extend .px-5;
	text-align: justify;
}

.company-field {
	text-align: center;
}

.company-field .representative-photo {
	width: 120px;
	border: thin;
	border-style: solid;
	border-radius: 360px;
}

.company-field {
	@extend .mb-4;
	font-weight: bold;
}

.company-field .title {
	color: darkgray;
}

.cardback {
	@extend .p-4;
	@extend .m-2;
	border-radius: 15px;
}

.cardback-expanded {
	background-color: #f8f8f8f8;
	transition: background-color 1s;
}

.more-container {
	@extend .p-0;
	@extend .m-0;
	overflow: hidden;
}

.contracted {
	margin-top: -3000px;
	transition: all 1s;
}

.expanded {
	margin-top: 0;
	transition: all 0.6s;
}

.more-btn {
	@extend .btn;
	text-decoration: none;
	color: gray;
	width: 100%;
	text-align: right;
}

.accordion-button:not(.collapsed) {
	@extend .text-dark;
	background: white;
}

// Footer
footer {
	width: 100%;
	background: Gainsboro;
}

footer div .grid-item {
	@extend .pb-0;
	@extend .mb-0;
	font-weight: bold;
}

.acknowledgements {
	@extend .my-0;
	@extend .pb-4;
	font-size: small;
	text-align: center;
	opacity: 80%;
}

// Font Awesome
.fab, .fas {
	font-size: 30px;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
}

.fa-facebook {
	color: $primary;
	background: white;
	border-radius: 360px;
	border-style: none;
}

.fa-facebook:hover {
	@extend .fa-facebook;
	opacity: 70%;
}

.fa-envelope {
	color: darkslategray;
}

.fa-envelope:hover {
	@extend .fa-envelope;
	opacity: 70%;
}
